*{
  font-family: 'DM  Sans';
}
/* investing setion css */
.outer-investing{
  display: block;

}
.inner-investing{
  max-width: 90%;
  display: flex;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  margin: auto;

}
.inner-investing h1,h2{
  color: white;
 
}
.inner-investing h2{
  font-size: 20px;
}
.inner-investing h1{
  font-size: 53px;
  letter-spacing: 4px;
  word-spacing: 2px;
  font-weight: normal;
}
.invest-section{
  display: block;
}
.second-invest-section{
  max-width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
  

}
.invest-info p{
  color:  black;
  font-size: 24px;
}
.invest-info h1{
  font-size: 46px;
  word-spacing: 4px;
  letter-spacing: 2px;
}
.second-invest-section img{
  max-width: 100%;
}
.keyFigures{
  display: block;
}
.inner-keyFigures{
  max-width: 100%;
  margin: auto;
}
/* key figures section */
.key h1{
  text-align: center;
  font-size: 49px;
  font-weight: normal;
}
.keyFig-main{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 100%;
    padding: 50px 0;
}
.figure-container{
      max-width: 100%;
        height: 250px;
        border-radius: 5%;
        border: 1px solid gray;
        padding-top: 50px;
        text-align: center;
}
.figure-container p{
  color: black;
  font-size: 28px;

}

.figure-container h1{
  font-size: 52px;
}

.figure-small {
  font-size: 19px;
  font-weight: bold;
}
/* elewa section */
.elewa-section-inner {
  max-width: 90%;
  margin: auto;
  display: flex;
}

.elewa-content {
    display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 60%;
      padding-left: 50px;
}

.elewa-section-inner img {
      max-height: max(70vh, 500px);
        max-width: 45vw;
        object-fit: cover;
}

.elewa-section-inner p {
  color: black;
  font-size: 24px;
}

.elewa-section-inner h1 {
  font-size: 52px;
  font-weight: normal;
}

.creative-hub {
  display: block;
}

.inner-creative-hub {
  padding-top: 70px;
  max-width: 90%;
  margin: auto;
  display: flex;
}

.inner-creative-hub img{
max-height: max(70vh, 500px);
  max-width: 45vw;
  object-fit: cover;
  border-radius: 17px;

}

.creative-hub-content {
  max-width: 60%;
}

.creative-hub-content p {
color: black;
font-size: 28px;
}

.creative-hub-content h1{
  font-size: 52px;
  font-weight: normal;
}
.elewa-content button{
  border: none;
    padding: 10px 30px;
    background-color: black;
    color: white;
    border-radius: 33px;
  
}
.elewa-content-image2 img {
  max-height: max(70vh, 500px);
    max-width: 45vw;
    object-fit: cover;
    border-radius: 17px;
}

/* css for the footer */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40vh;
  background-color: black;
  padding-inline: 0.5rem;
  padding-top: 5rem;
  max-width: 100%;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  color: white;
}

.footer-contacts {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 1.5rem 1rem;
  border-top: 1px solid white;
}

.footer-inner {
  max-width: 90%;
  margin: auto;
}

.footer-divs {
  margin-right: 40px;
}

.footer-divs h2 {
  font-size: 19.2;
  text-decoration: underline;

}

.footer-divs p {
  font-size: 17.6px;
  font-family: 'DM Sans';
}

.footer-divs p:hover {
  text-decoration: underline;
}

.footer-logo {
  display: flex;
  justify-content: space-between;
}

.social-media-icons {
  display: flex;
}

.social-media-icons img {
  margin-right: 10px;
}

.privacy {

  margin-right: 40px;
  margin-bottom: 10px;
}

.privacy h2 {
  font-size: 19.2px;
  text-decoration: underline;
}

.privacy p {
  font-size: 17.6px;
  font-family: 'DM Sans';
}

.privacy p:hover {
  text-decoration: underline;
}